Incorrect encoding of ICS attachments

I've noticed that non-ASCII characters are garbled in the preview of ICS attachments (screenshots: [Gmail on ChromeOS](https://user-images.githubusercontent.com/10261967/114320669-463eb580-9b17-11eb-9f21-29c19948ee60.png), [Gmail on iOS](https://user-images.githubusercontent.com/10261967/114320704-7b4b0800-9b17-11eb-9194-542f37ba2a8b.jpeg)).

It seems that the ICS file is incorrectly encoded with ISO-8859-1. [RFC5545 section 6](https://tools.ietf.org/html/rfc5545#section-6) specifies that UTF-8 must be used. 

